[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
"httplib2" = "*"
itsdangerous = "*"
"oauth2" = "*"
Flask = "*"
"Jinja2" = "*"
MarkupSafe = "*"
flask-restful = "*"
wtforms = "*"
flask-cors = "*"
flask-dance = "*"
babel = "*"
werkzeug = "==1.0.0"

[dev-packages]

[requires]
python_version = "3"
