{% extends "base.html" %}

{% block title %}{% endblock %}
{% block containercontent %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">Home</a></li>
	  <li class="breadcrumb-item"><a href="/twitter_api">API</a></li>
	  <li class="breadcrumb-item active" aria-current="page">User</li>
	</ol>
  </nav>
<form class="form form-horizontal">
	<div class="form-row">
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<h3 class="text-primary">User</h3>
	  </div>
	  <div class="form-group col-md-8 col-sm-12 col-xs-12"> 
		<h4 class="font-italic">Search for information on Twitter user accounts</h4>
		</div>
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
	  </div>
	</div>
</form>
<div>
	<form class="form form-horizontal" id="form_search_tweets" method="POST" action="{{ url_for('api_user') }}">
		<div class="form-row">
		  <div class="form-group col-md-6 col-sm-12 col-xs-12">
			<input name="screenName" type="text" class="form-control" id="screenName" placeholder="Enter a twitter screen name like @mytwitterhandle">
		  </div>
		  <div class="col-md-2 input-append">
			<button id="submitBtn" type="submit" class="form-control btn btn-primary">Go!</button>
		</div>
		</div>
	</form>
	
	</div>
	{% if formSubmitted %}
	<h3 class="text-center">Search Results for <span class="text-primary">'{{screen_name}}'</span></h3>


	<div class="row">
		<h3 class="text-primary">User</h3>
		<div class="card-columns">
		<div class="card">
			<img src={{user.profile_image_banner_url|tojson|safe}} class="card-img-top" alt="...">
			<div class="card-body">
				<a href='https://twitter.com/{{user.screen_name}}'>
					<img class="mr-3 rounded-circle" src={{user.profile_image_url_lg|tojson|safe}} alt={{user.screen_name}} >
				</a>
				<h5 class="card-title">{{user.name}}</h5>
				<h5 class="card-title"><a href='https://twitter.com/{{user.screen_name}}'>@{{user.screen_name}}</a></h5>
				<p class="card-text">{{user.description}}</p>
				<p class="card-text"><small class="text-primary">Last tweeted {{user.last_tweeted|datetime('shorttime')}}</small></p>
				<a href='https://twitter.com/{{user.screen_name}}'>
					<button id="submitBtn" type="submit" class="form-control btn btn-dark">View Profile</button>
				</a>
			</div>
		</div>
	</div>
	</div>
	<div class="row">
		<h3 class="text-center text-primary">Following</h3>
			<div class="card-columns">
				{% for x in friends  | sort(attribute='last_tweeted', reverse= True) %}
				<div class="card">
					<img src={{x.profile_image_banner_url|tojson|safe}} class="card-img-top" alt="...">
					<div class="card-body">
						<a href='https://twitter.com/{{x.screen_name}}'>
							<img class="mr-3 rounded-circle" src={{x.profile_image_url_lg|tojson|safe}} alt={{x.screen_name}} >
						</a>
						<h5 class="card-title">{{x.name}}</h5>
						<h5 class="card-title"><a href='https://twitter.com/{{x.screen_name}}'>@{{x.screen_name}}</a></h5>
						<p class="card-text">{{x.description}}</p>
						<p class="card-text"><small class="text-primary">Last tweeted {{x.last_tweeted|datetime('shorttime')}}</small></p>
						<a href='https://twitter.com/{{x.screen_name}}'>
							<button id="submitBtn" type="submit" class="form-control btn btn-dark">View Profile</button>
						</a>
					</div>
				</div>
				{% endfor %}
		</div>
	</div>
	<div class="row">
		<h3 class="text-center text-primary">Followers</h3>
		<div class="card-columns">
			{% for x in followers  | sort(attribute='last_tweeted', reverse= True)%}
			<div class="card">
				<img src={{x.profile_image_banner_url|tojson|safe}} class="card-img-top" alt="...">
				<div class="card-body">
					<a href='https://twitter.com/{{x.screen_name}}'>
						<img class="mr-3 rounded-circle" src={{x.profile_image_url_lg|tojson|safe}} alt={{x.screen_name}} >
					</a>
					<h5 class="card-title">{{x.name}}</h5>
					<h5 class="card-title"><a href='https://twitter.com/{{x.screen_name}}'>@{{x.screen_name}}</a></h5>
					<p class="card-text">{{x.description}}</p>
					<p class="card-text"><small class="text-primary">Last tweeted {{x.last_tweeted|datetime('shorttime')}}</small></p>
					<a href='https://twitter.com/{{x.screen_name}}'>
						<button id="submitBtn" type="submit" class="form-control btn btn-dark">View Profile</button>
					</a>
				</div>
			</div>
			{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}