{% extends "base.html" %}

{% block title %}{% endblock %}
{% block containercontent %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">Home</a></li>
	  <li class="breadcrumb-item"><a href="/twitter_api">API</a></li>
	  <li class="breadcrumb-item active" aria-current="page">User</li>
	</ol>
  </nav>
<form class="form form-horizontal">
	<div class="form-row">
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<h3 class="text-primary">User Info</h3>
	  </div>
	  <div class="form-group col-md-8 col-sm-12 col-xs-12"> 
		<h3 class="font-italic">Get information about your user account</h4>
		</div>
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
	  </div>
	</div>
</form>
<div>
	<form class="form form-horizontal" id="form_search_tweets" method="POST" action="{{ url_for('api_user') }}">
		<div class="form-row">
		  <div class="form-group col-md-6 col-sm-12 col-xs-12">
			<input name="screenName" type="text" class="form-control" id="screenName" placeholder="Enter a twitter screen name like @mytwitterhandle">
		  </div>
		  <div class="col-md-2 input-append">
			<button id="submitBtn" type="submit" class="form-control btn btn-primary">Go!</button>
		</div>
		</div>
	</form>
	
	</div>
	<h3 class="text-center">Search Results for <span class="text-primary">'{{screen_name}}'</span></h3>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h3>Following</h3>
		<ul class="list-unstyled">
			{% for x in friends  | sort(attribute='screen_name')%}
				<li class="media my-4">
					<div class="align-self-start">
						<a href='https://twitter.com/{{x.screen_name}}'>
							<img class="mr-3" src={{x.profile_image_url|tojson|safe}} alt={{x.screen_name}} width="64px">
						</a>
					</div>
					<div class="media-body">
						<h5 class="mt-0 mb-1"><a href='https://twitter.com/{{x.screen_name}}'>@{{x.screen_name}}</a> - {{x.name}}</h5>
						{{x.description}}
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
							  Followers
							  <span class="badge badge-primary badge-pill">{{x.followers_count}}</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
							  Following
							  <span class="badge badge-primary badge-pill">{{x.friends_count}}</span>
							</li>
							
						  </ul>
						
						
					</div>
				</li>
				{% endfor %}
		  </ul>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h3>Followers</h3>
		<ul class="list-unstyled">
			{% for x in followers  | sort(attribute='screen_name')%}
				<li class="media my-4">
					<div class="align-self-start">
						<a href='https://twitter.com/{{x.screen_name}}'>
							<img class="mr-3" src={{x.profile_image_url|tojson|safe}} alt={{x.screen_name}} width="64px">
						</a>
					</div>
					<div class="media-body">
						<h5 class="mt-0 mb-1"><a href='https://twitter.com/{{x.screen_name}}'>@{{x.screen_name}}</a> - {{x.name}}</h5>
						{{x.description}}
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
							  Followers
							  <span class="badge badge-primary badge-pill">{{x.followers_count}}</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
							  Following
							  <span class="badge badge-primary badge-pill">{{x.friends_count}}</span>
							</li>
							
						  </ul>
					</div>
				</li>
				{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}