{% extends "base.html" %}
{% block containercontent %}
<h3 class="bold text-primary">Welcome to Hello Twitter! </h3>
<h5>A simple web application that allows a user to interact with Twitter using their developer API</h5>

<div>
	<br/>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
		  <a href="/start" class="btn btn-success btn-block">Let's Go!</a></button>
		</div>
	  </div>
	  <br/>
	  <div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
			<button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				How does this work?
			</button>
		</div>
	  </div>
	
	<div class="collapse" id="collapseExample">
		<div class="card card-body">
			<h5 class="bold text-primary">Requirements:</h5>
			<ol>
				<li>A valid Twitter account</li>
				<li>Curiosity</li>
			</ol>
			<h5 class="bold text-primary">Here's our plan:</h3>
			<ol>
				<li>Generate an OAuth request token to be granted access.</li>
				<li>Redirect you to Twitter.com using our tokens from step 1. You'll then be prompted to authorize the app.</li>
				<li>Once authorized, you'll then be redirected back to the Hello Twitter application.</li>
			</ol>
		</div>
	  </div>

</div>
	
{% endblock %}