{% extends "base.html" %}

{% block title %}{% endblock %}
{% block containercontent %}
<nav aria-label="breadcrumb" >
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">Home</a></li>
	  <li class="breadcrumb-item active" aria-current="page">API</li>
	</ol>
  </nav>
<form class="form form-horizontal" id="form_search_tweets" method="POST" action="{{ url_for('api_user') }}">
	<div class="form-row">
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<h3 class="text-primary">User Info</h3>
	  </div>
	  <div class="form-group col-md-8 col-sm-12 col-xs-12"> 
		<h3 class="font-italic">Get information about your user account</h4>
	  </div>
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<button id="submitBtn" type="submit" class="form-control btn btn-primary">Try it!</button>
	  </div>
	</div>
</form>

<form class="form form-horizontal" id="form_search_tweets" method="POST" action="{{ url_for('api_pictures') }}">
	<div class="form-row">
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<h3 class="text-primary">Pictures</h3>
	  </div>
	  <div class="form-group col-md-8 col-sm-12 col-xs-12"> 
		<h3 class="font-italic">Search for photos from Twitter using your favorite Hashtags</h4>
	  </div>
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<button id="submitBtn" type="submit" class="form-control btn btn-primary">Try it!</button>
	  </div>
	</div>
</form>

{% endblock %}