<!DOCTYPE html>
<html lang="en">

<head>
	<title>twitter-api sample app {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body id="twitter-body">

  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Load our React component. -->
		
  <script src="{{ url_for('static', filename='js/search.js') }}" type="text/jsx"></script>
  <script src="{{ url_for('static', filename='js/search_tweets.js') }}" type="text/jsx"></script>
  <div class="container">
	<h1 class="text-primary text-center">Twitter API</h1>
  <h3 class="text-primary">Pictures</h3>
<p class="font-italic">Search for photos from Twitter using your favorite Hashtags</p>

<div >
	<form id="form_search_tweets" method="POST" action="{{ url_for('twitter_api_full') }}">
		{{ form.csrf_token }}
		<table>
			<tr>
				<th><b>{{ form.hashtag.label }}</th>
				<th><b>{{ form.count.label }}</th>
			</tr>
			<tr>
				<td>
					{{ form.hashtag(size=50) }}
				</td>
				<td>
					{{ form.count(size=50) }}
				</td>
			</tr>
		</table>
		<br/>
		<div class="text-center">
			<input type="submit" value="Search" class="btn btn-small btn-success">
		</div>
	</form>
	</div>
<div>
	{% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}
</div>
{% if formSubmitted %}
<div>
	<br/>
	<p>We found <b class="text-primary">{{nFound}}</b> out of <b class="text-primary">{{count}}</b> possible pictures with this search: <b class="text-primary">{{q}}</b></p>
</div>
  </div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		{% for img in images %}
			{% if loop.index == 1 %}
			<div class="carousel-item active">
				
				<a href={{img.media_url|tojson|safe}} title="click here to see the full sized image"></a>
					<img src={{img.media_url|tojson|safe}} width="100%" class="d-block w-100" alt="{{img.text}}">
				</a>
				<div class="carousel-caption d-none d-md-block">
					
					<a href={{img.media_url|tojson|safe}} title="click here to see the full sized image"></a>
				  </div>
				
				
				
				<br/>
				<p class="font-italic text-primary text-center">{{img.text}}</p>
				<div class="text-center">
					<form action={{img.src}} target="_blank">
						<button class="btn btn-small btn-primary">View Original</button>
					</form>
				</div>
			</div>
			{% else %}
			<div class="carousel-item">
				<a href={{img.media_url|tojson|safe}} title="click here to see the full sized image"></a>
						<img src={{img.media_url|tojson|safe}} width="100%" class="d-block w-100" alt="{{img.text}}">
					</a>
				
				<br/>
				<p class="font-italic text-primary text-center">{{img.text}}</p>
				<div class="text-center">
					<form action={{img.src}} target="_blank">
						<button class="btn btn-small btn-primary">View Original</button>
					</form>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
  </div>
<div>
	<div class="container">
	<br/>
	<h3 class="text-primary text-center">Questions?</h3>
	<ul style="list-style-type:none;">
		<li>
			<b>Q:  </b>Wait...I searched for {{count}} tweets, but {{nFound}} returned. What gives?</h4></li>
		<li>
			<b>A:  </b>There is a known difference between results provided by the counts endpoint and the data endpoint. You may see a discrepancy in your results because the counts endpoint is pre-compliance (meaning that it does not account for things like deleted Tweets, scrub geo, etc.) whereas the data endpoint is compliant at the time of delivery and accounts for all compliance events. For further reference, please go to this document on our support site.
		</li>
		<br/>
		<li>
			<b>Q:  </b>I didn't receive a Tweet that should match my query. Why?</h4>
		</li>
		<li>
			<b>A:  </b>There are a few different reasons why this might have happened, including: 
				1) The Tweet you expected to see is from a protected account
				2) because the data endpoint accounts for all compliance events (meaning that deleted Tweets, scrubbed geos, etc. will not be included in the response).
			</li>
		<br/>
		<li>
			<b>Q: </b>Quick question...I still have questions.
		</li>
		<li>
			<b>A:  </b>Good question, I recommend checking out Twitter's official <a href="https://developer.twitter.com/en/docs/tweets/search/FAQ">FAQ</a>
		</li>
	  </ul>
	</div>
</div>
{% endif %}
</body>

</html>

