{% extends "base.html" %}

{% block title %}{% endblock %}
{% block containercontent %}
<form class="form form-horizontal" id="form_search_tweets" method="POST" action="{{ url_for('api_user') }}">
	<div class="form-row">
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<h3 class="text-primary">User</h3>
	  </div>
	  <div class="form-group col-md-8 col-sm-12 col-xs-12"> 
		<h4 class="font-italic">Search for a sample of friends and followers for a Twitter account </h4>
		<h5><a href="https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/overview">Documentation</a></h5>
		<ul>
			<li><span class="text-success">GET</span> users/show</li>
			<li><span class="text-success">GET</span> friends/lists</li>
			<li><span class="text-success">GET</span> followers/lists</li>
			<li><span class="text-success">GET</span> <a href="https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/overview" >oEmbed</a></li>
		</ul>
	</div>
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<button id="submitBtn" type="submit" class="form-control btn btn-primary">Try it!</button>
	  </div>
	</div>
</form>

<form class="form form-horizontal" id="form_search_tweets" method="POST" action="{{ url_for('api_pictures') }}">
	<div class="form-row">
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<h3 class="text-primary">Pictures</h3>
	  </div>
	  <div class="form-group col-md-8 col-sm-12 col-xs-12"> 
		<h4 class="font-italic">Generate a photo slideshow by searching for tweets using hashtags </h4>
		<h5><a href="https://developer.twitter.com/en/docs/tweets/search/overview">Documentation</a></h5>
		<ul>
			<li><span class="text-success">GET</span> search/tweets</li>
		</ul>
	</div>
	  <div class="form-group col-md-2 col-sm-12 col-xs-12">
		<button id="submitBtn" type="submit" class="form-control btn btn-primary">Try it!</button>
	  </div>
	</div>
</form>

{% endblock %}