{% extends "base.html" %}
{% block title %}success{% endblock %}
{% block containercontent %}
<h3>Search for photos from Twitter</h3>
<p>Documentation:
	<a href="https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets">Twitter Dev - Search API</a>
</p>
<div >
	<form method="POST" action="{{ url_for('twitter') }}">
		{{ form.csrf_token }}
		<b>{{ form.hashtag.label }}</b> {{ form.hashtag(size=20) }}
		<b>{{ form.count.label }}</b> {{ form.count(size=20) }}
		<input type="submit" value="Search" class="btn btn-small btn-success">
	</form>
</div>
<div>
	{% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}
</div>
	<p><b>{{message}}</b></p>
	{% for img in images %}
		<img src={{img}} width='100%'/>
	{% endfor %}
{% endblock %}