{% extends "base.html" %}
{% block title %}{% endblock %}
{% block containercontent %}
<p>Search for photos from Twitter using your favorite Hashtags</p>
<div >
	<form id="form_search_tweets" method="POST" action="{{ url_for('twitter_api') }}">
		{{ form.csrf_token }}
		<div style="width: 25%">
			<b>{{ form.hashtag.label }}
			</b> {{ form.hashtag(size=20) }}
		</div>
		<br/>
		<div style="width: 25%">
			<b>{{ form.count.label }}
			</b> {{ form.count(size=20) }}
		</div>
		<br/>
		<input  type="submit" value="Search" class="btn btn-small btn-success">
	</form>
</div>
<div>
	{% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}
</div>
	<p><b>{{message}}</b></p>
	{% for img in images %}
		<img src={{img}} width='100%'/>
	{% endfor %}

{% endblock %}